.searchIcon {
  position: absolute;
  top: 51%;
  left: 92%;
  width: 15px;
  height: 15px;
  fill: #fff;
}

.searchContainer {
  position: absolute;
  top: 45%;
  left: 37%;
  width: 53%;
  z-index: 1;
}

.searchContainer input {
  width: 100%;
  background: var(--french-blue);
  border: solid 1px #fff;
  color: white;
}

.routerLink {
  text-decoration: none;
  width: 50%;
}

/*  Dash gap styling */

.dashGap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 24px;
  background-color: var(--denim-blue);
}

.dashGap p {
  margin-left: 4px;
  font-family: Lato, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.48px;
  text-align: left;
  color: var(--white);
  text-transform: uppercase;
}

.dashAssets {
  display: flex;
  flex-wrap: wrap;
}

.myBrand {
  position: absolute;
  top: -70%;
  left: 0;
  z-index: 2;
}

.myBrand img {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .searchIcon {
    width: 1rem;
    height: 1rem;
  }

  .searchContainer input {
    font-size: 1rem;
  }

  .dashGap {
    height: 2rem;
  }

  .myBrand {
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 2;
  }

  .myBrand img {
    width: 100%;
  }
}
